@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&display=swap');

/*******CSS PARA EL MENU Y BODY******/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    background-color: black;
    font-family: 'Finlandica', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu .activa{
    color: greenyellow;

}

.menu a:hover {
    background-color:white;
    color: black;
    border-radius: 30px;
    transition: ease-in .50s;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.menu li {
    list-style: none;
}

.navbar {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 2em;
}

.iniciales{
    margin-top: -10px;
}

.contenedorPrincipal {
    display: flex;
    color: aqua;
}

.contenedor1,
.contenedor2,
.contenedor3 {
    color: white;
    /*font-weight: bold;*/
    border-radius: 30px;
    border: 1px solid white;
    padding: 20px;
    margin: 10px;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

/*****CSS PARA EL CUERPO DE LA PAGINA (SECTTION)********/

h2{
    color: white;
}